<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DequeNet" version="1.0.2" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" />
  <package id="Microsoft.Extensions.ObjectPool" version="5.0.10" />
  <package id="Microsoft.NETCore.Jit" version="1.0.2" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" />
  <package id="Microsoft.NETCore.Runtime.CoreCLR" version="1.0.2" />
  <package id="Microsoft.NETCore.Windows.ApiSets" version="1.0.1" />
  <package id="System.Formats.Asn1" version="6.0.0" />
  <package id="System.Private.ServiceModel" version="4.10.3" manuallyInstalled="true" />
  <package id="System.Security.AccessControl" version="6.0.0" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.1" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
</packages>